---
import photoCool from "../../assets/testimage.webp";
import logo from "../../assets/logo.png"

const { content, image, lang } = Astro.props;
const rawDate = new Date(content.date_published)
const publishedDate = `${rawDate.getDate()}/${rawDate.getMonth()}/${rawDate.getFullYear()}`

---

<article
  class="testhorCard relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80 aspect-[3/4]"
>
  <img
    src={image + "/cover.png"}
    alt=""
    class="absolute inset-0 -z-10 h-full w-full object-cover"
  />
  <div
    class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"
  >
  </div>
  <div
    class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"
  >
  </div>

  <div
    class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300"
  >
    <time datetime={content.date_published} class="mr-8">{publishedDate}</time>
    <div class="-ml-4 flex items-center gap-x-4">
      <svg
        viewBox="0 0 2 2"
        class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50"
      >
        <circle cx="1" cy="1" r="1"></circle>
      </svg>
      <div class="flex gap-x-2.5">
        <img
          src={logo.src}
          alt=""
          class="h-6 w-6 flex-none rounded-full bg-white/10"
        />
        {content.author.first_name + " " +content.author.last_name}
      </div>
    </div>
  </div>
  <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
    <a href="#">
      <span class="absolute inset-0"></span>
      {content.translations[lang].title}
    </a>
  </h3>
</article>
