---
import { Image } from 'astro:assets';
import logo from '../../assets/logo.png';

const L = {
  en: {
    headline: "Automate.",
    description: "Coding the Past, Decoding the Future: Test Automation Meets Digital Humanities.",
    btn1: "Read me",
    btn2: "Who am I?"
  },
  fr: {
    headline: "Automatisez.",
    description: "Coder le passé, décoder le futur : quand l'automatisation rencontre les humanités numériques.",
    btn1: "Lire mes articles",
    btn2: "À propos"
  }
}

const {lang} = Astro.props
---

<div class="flex bg-white">
  <div class="mx-auto max-w-7xl flex">
    <div class="px-6 pt-10 lg:col-span-7 xl:col-span-6">
      <h1 class="mt-24 text-4xl font-bold tracking-tight text-gray-900 sm:mt-10 sm:text-6xl">{L[lang].headline}</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">{L[lang].description}</p>
        <div class="mt-10 flex items-center gap-x-6">
          <a href=`/${lang}/blog/1` class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{L[lang].btn1}</a>
          <a href=`/${lang}/about/` class="text-sm font-semibold leading-6 text-gray-900">{L[lang].btn2} <span aria-hidden="true">→</span></a>
        </div>
    </div>
    <div class="">
      <img class="" src={logo.src} alt="Testhor Logo">
    </div>
  </div>
</div>