---
import { ViewTransitions } from 'astro:transitions';

import Hero from "../components/design1/Hero.astro";
import Menu from "../components/design1/Menu.astro";
import Header from "../components/design1/Header.astro";
import Footer from "../components/design1/Footer.astro";

const { title, current } = Astro.props;
const lang = Astro.currentLocale
---

<!doctype html>
<html lang=`${lang}` transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="" >
		<Header {lang} {current}/>
    <slot />
    <Footer {lang}/>
	</body>
</html>
