---
import { ViewTransitions } from 'astro:transitions';

import Hero from "../components/Hero.astro";
import Menu from "../components/Menu.astro";
import Header from "../components/Header.astro";
import {getLocaleByPath} from "astro/dist/i18n";
import Footer from "../components/Footer.astro";
interface Props {
	title: string;
}

const { title, current } = Astro.props;
const lang = Astro.currentLocale
---

<!doctype html>
<html lang="en" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body data-theme="cmyk" class="" >
		<Header {lang} {current}/>
		<div class="absolute right-0 w-8/12 flex flex-col min-h-full">
			<div class="grow">
				<slot />
			</div>
			<Footer {lang}/>
		</div>
		<!--<Menu/>-->
		<!--<Hero/>-->

	</body>
</html>
